<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:layout=""
      layout:decorate="~{auth\layout\profileLayout}" xmlns:sec>
<head>
    <meta charset="UTF-8">
    <title>Quản Lý Thông Tin Cá Nhân</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body   layout:fragment="content1">
<div class="max-w-4xl mx-auto bg-white p-8 rounded-lg shadow-lg my-10 ">
    <h2 class="text-3xl font-bold mb-4">Personal Information</h2>
    <div class=" p-6 rounded-lg ">
        <h2 class="text-2xl font-bold mb-6">Change Password</h2>
        <form th:action="@{/account/change-password}" th:object="${passwordDTO}" method="post">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="currentPassword">Current Password</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       type="password" id="currentPassword" th:field="*{currentPassword}">
                <p th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}" class="text-red-500 text-xs italic"></p>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="newPassword">New Password</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       type="password" id="newPassword" th:field="*{newPassword}">
                <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="text-red-500 text-xs italic"></p>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="confirmPassword">Confirm New Password</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       type="password" id="confirmPassword" th:field="*{confirmPassword}">
                <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-red-500 text-xs italic"></p>
                <p th:if="${passwordDTO.confirmPassword != passwordDTO.newPassword}" class="text-red-500 text-xs italic">Passwords do not match</p>
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="submit">Change Password</button>
            </div>
        </form>
    </div>


</div>
</body>
</html>
