<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:layout=""
      layout:decorate="~{auth\layout\profileLayout}" xmlns:sec>
<head>
    <meta charset="UTF-8">
    <title>Cập nhật ảnh cá nhân</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body   layout:fragment="content1">
<div class=" p-8 rounded-lg shadow-lg my-10 ">
    <h2 class="text-3xl font-bold mb-4 px-4">Cập nhật hình ảnh cá nhân</h2>
    <div class=" p-6 rounded-lg flex space-x-2">
        <div class=" p-8 rounded-lg w-full max-w-sm">
            <h2 class="text-2xl font-bold mb-4 text-center">Update Avatar</h2>
            <form th:action="@{/account/updateAvatar}" method="POST" enctype="multipart/form-data">
                <!-- Hidden username field -->
                <input type="hidden" name="username" th:value="${username}">

                <!-- Avatar upload field -->
                <div class="mb-4">
                    <label for="avatar" class="block text-sm font-medium text-gray-700 mb-2">Upload Avatar</label>
                    <input type="file" name="avatar" id="avatar" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400">
                </div>

                <!-- Submit button -->
                <div class="flex justify-center">
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Update Avatar</button>
                </div>
            </form>
        </div>

        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm">
            <img class=" rounded" th:if="${avatar != null}" th:src="@{'/uploads/profile/' + ${avatar}}" alt="Default avatar">


        </div>
    </div>


</div>
</body>
</html>
