<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Admin </title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.11.1/sweetalert2.css" integrity="sha512-n1PBkhxQLVIma0hnm731gu/40gByOeBjlm5Z/PgwNxhJnyW1wYG8v7gPJDT6jpk0cMHfL8vUGUVjz3t4gXyZYQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="bg-gray-100">
<!-- Navbar -->
<nav class="bg-white shadow">
  <div class="container mx-auto px-6 py-3">
    <div class="flex items-center justify-between">
      <div class="text-xl font-semibold text-gray-700">
        <a th:href="@{/}" class="text-gray-800 hover:text-gray-600"> <i class="fad fa-bags-shopping"></i> Shopping Online </a>
      </div>
      <div class="flex space-x-4 items-center justify-between">
        <a th:href="@{/}" class="text-gray-800 hover:text-gray-600" th:text="#{home}">Home</a>
        <a th:href="@{/about}" class="text-gray-800 hover:text-gray-600" th:text="#{about}">About</a>
        <a th:href="@{/product}" class="text-gray-800 hover:text-gray-600">Products</a>



        <div class="relative" id="categories-dropdown">
          <button class="flex items-center text-gray-800 hover:text-gray-600 focus:outline-none">
            <span th:text="#{Categories}">Categories</span>
            <svg class="ml-1 h-5 w-5 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
            </svg>
          </button>
          <div class="absolute left-0 mt-2 w-48 bg-white border rounded-md shadow-lg hidden">
            <div th:each="category : ${categories}">
              <a th:href="@{/product(category=${category.id})}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" th:text="${category.name}">Category</a>
            </div>
          </div>
        </div>
        <div class="relative" id="account-dropdown">
          <button class="flex items-center text-gray-800 hover:text-gray-600 focus:outline-none">
            <span th:text="#{Account}">Account</span>
            <svg class="ml-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
            </svg>
          </button>
          <div class="absolute right-0 mt-2 w-48 bg-white border rounded-md shadow-lg hidden">
            <a th:href="@{/login}"  class="block px-4 py-2 text-gray-800 hover:bg-gray-100" th:unless="${session.user}">
              <i class="fad fa-sign-in text-yellow-500"></i> <span th:text="#{login}"></span>
            </a>
            <a th:href="@{/register}"  class="block px-4 py-2 text-gray-800 hover:bg-gray-100" th:unless="${session.user}">
              <i class="fad fa-user-plus text-yellow-500"></i><span th:text="#{register}"></span>
            </a>

            <a th:href="@{/account}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" th:if="${session.user}">
              <i class="fad fa-user-circle text-yellow-500"></i> <span th:text="#{Account}"></span>
            </a>
            <a th:href="@{/admin}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" th:if="${session.user != null and session.user.admin}">
              <i class="fad fa-users-crown text-yellow-500"></i>  <span th:text="#{Admin}"></span>
            </a>
            <a th:href="@{/forgot-Password}"  class="block px-4 py-2 text-gray-800 hover:bg-gray-100" >
              <i class="fad fa-lock text-yellow-500"></i><span > Forgot Password ?</span>
            </a>
            <a th:href="@{/logout}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" th:if="${session.user}">
              <i class="fad fa-sign-out text-yellow-500"></i> <span th:text="#{logout}"></span>
            </a>
            <hr>
            <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" >
              <i class="fad fa-language text-yellow-500"></i> <span th:text="#{languages}"></span>
            </a>
            <a href="?lang=en" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" th:text="#{English}">English</a>
            <a href="?lang=vi" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" th:text="#{Vietnamese}">Tiếng Việt</a>
          </div>
        </div>
        <form action="/index" th:action="@{/product}" method="get"
              class="flex justify-between items-center">
          <input name="keywords" th:value="${keywords}" th:placeholder="#{Search}" class="w-3/4 py-2 px-4 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500">
          <button type="submit" class="w-1/4 py-2 px-1 ml-3   rounded-md border " >
            <i class="fad fa-search"></i>
          </button>
        </form>

        <a class="text-gray-800 hover:text-gray-600">
          <button type="button" onclick="openCart()" class="relative inline-flex items-center p-3 text-sm font-medium text-center text-yellow  rounded-lg hover:bg-blue-800 hover:text-white focus:ring-4 focus:outline-none border focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <i class="fad fa-shopping-cart"></i>
            <span class="sr-only">Notifications</span>
            <div id="updateCount" class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-blue-500 border-2 border-white rounded-full -top-3 -end-[-2] dark:border-gray-900">20</div>
          </button>
        </a>
      </div>
    </div>
  </div>
</nav>




<div id="toast-success" th:if="${success!=null}" class="fixed top-20 right-5 flex items-center ju w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
  <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
    </svg>
    <span class="sr-only">Check icon</span>
  </div>
  <div class="ms-3 text-sm font-normal" th:text="${success}">Item moved successfully.</div>
</div>
<div id="toast-danger" th:if="${danger!=null}" class="fixed top-20 right-5 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
  <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
    </svg>
    <span class="sr-only">Error icon</span>
  </div>
  <div class="ms-3 text-sm font-normal" th:text="${danger}">Item has been deleted.</div>
</div>
<div id="toast-warning" th:if="${warning!=null}" class="fixed top-20 right-5 flex items-center w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
  <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-orange-500 bg-orange-100 rounded-lg dark:bg-orange-700 dark:text-orange-200">
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z"/>
    </svg>
    <span class="sr-only">Warning icon</span>
  </div>
  <div class="ms-3 text-sm font-normal" th:text="${warning}">Improve password difficulty.</div>
</div>



<!--content-->

<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
  </svg>
</button>

<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-white dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg class="w-5 h-5 mr-2 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
            <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
            <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
          </svg>
          <span class="ms-3">Dashboard</span>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/product}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fad fa-th-list mr-2"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Product</span>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/categories}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fad fa-table mr-2"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Categories</span>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/account}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fal fa-users  mr-2"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Accounts</span>
        </a>
      </li>

      <li>
        <a th:href="@{/admin/orders}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fal fa-shopping-cart  mr-2"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Orders</span>
        </a>
      </li>

      <li>
        <a th:href="@{/admin/product-sales}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fad fa-chart-line mr-2"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Product Sales Statistics</span>
        </a>
      </li>

      <li>
        <a th:href="@{/}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fal fa-store mr-2"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Back To Shopping Online</span>
        </a>
      </li>

    </ul>
  </div>
</aside>

<div class="p-4 sm:ml-64">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <!--content-->
    <section layout:fragment="content"></section>
    <!--content-->
  </div>
</div>

<!--content-->

<!-- Footer -->
<footer class="bg-white shadow mt-8">
  <div class="container mx-auto px-6 py-4">
    <div class="flex items-center justify-between">
      <div class="text-gray-700">© 2024 Shop. All rights reserved.</div>
      <div class="flex space-x-4">
        <a href="#" class="text-gray-700 hover:text-gray-900">Privacy Policy</a>
        <a href="#" class="text-gray-700 hover:text-gray-900">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>

<div th:replace="~{/fragment/cart :: cart}"></div>
<div th:replace="~{/fragment/sweetalert2 :: sweetalert2}"></div>
<script>
  document.addEventListener('click', function(event) {
    const accountDropdownButton = document.querySelector('#account-dropdown button');
    const accountDropdownMenu = document.querySelector('#account-dropdown div');
    const categoriesDropdownButton = document.querySelector('#categories-dropdown button');
    const categoriesDropdownMenu = document.querySelector('#categories-dropdown div');

    if (accountDropdownButton.contains(event.target)) {
      accountDropdownMenu.classList.toggle('hidden');
    } else if (!accountDropdownMenu.contains(event.target)) {
      accountDropdownMenu.classList.add('hidden');
    }

    if (categoriesDropdownButton.contains(event.target)) {
      categoriesDropdownMenu.classList.toggle('hidden');
    } else if (!categoriesDropdownMenu.contains(event.target)) {
      categoriesDropdownMenu.classList.add('hidden');
    }
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.11.1/sweetalert2.min.js" integrity="sha512-Ozu7Km+muKCuIaPcOyNyW8yOw+KvkwsQyehcEnE5nrr0V4IuUqGZUKJDavjSCAA/667Dt2z05WmHHoVVb7Bi+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>
