<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Top Seller</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="" th:fragment="topSeller">
<div class="container mx-auto py-8   rounded">
  <h1 class="text-3xl tracking-widest text-black font-bold mb-8 ml-4"> <i class="fad fa-tags rounded-lg text-yellow-900"></i> Top 10 Best Sellers </h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 px-6 gap-3">
    <!-- Loop through top sellers -->
    <div th:each="product : ${page.content}" class="block max-w-sm rounded-lg bg-white bg-cover p-6 shadow-lg dark:bg-neutral-700">
      <img class="rounded-t-lg mb-2" style="height: 300px" th:if="${product.image != null}" th:src="@{'/uploads/products/' + ${product.image}}" alt="Product Image" />
      <img class="rounded-t-lg mb-2" style="height: 300px" th:unless="${product.image != null}" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQetgUM2uQNvbSmfkccBsxq0Dn_IBqDPL198A&s" alt="Default Image" />

      <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          th:text="${product.name}">Product Name</h5>

      <p class="text-lg font-bold text-neutral-800 dark:text-neutral-50"
         th:text="'$' + ${product.price}">Product Price</p>
      <div class="flex items-center justify-end mt-4">
        <a th:href="@{/product/{id}(id=${product.id})}" class="mr-3 text-blue-700 px-4 py-2 rounded-lg bg-gray-100 hover:text-blue-900 ">
          <span>View Details</span>
        </a>
        <button th:onclick="'addToCart(' + ${product.id} + ')'"
                class="text-blue-700 px-4 py-2 rounded-lg bg-gray-100 hover:text-blue-900">
          <i class="fad fa-cart-plus rounded-lg w-100 "></i>
        </button>
      </div>
    </div>
    <div th:if="${page.totalElements <=0}">
      <p class="text-gray-700">Not data</p>
    </div>
    <!-- End of loop -->
  </div>
</div>
</body>
</html>
